
$purple: #682EB6;
$purple: #662E91;

$primary: $purple;

// Body
//$body-bg: #f5f8fa;
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Enable gradient
$enable-gradients: true;

//nav
$nav-height: 55px;